@{
}

<br />
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&family=Dosis&display=swap" rel="stylesheet">
</head>
<h1 style="font-family: 'Dancing Script', cursive; font-size:70px">Thành viên nhóm</h1>
<ul style="font-family: 'Dosis', sans-serif; font-size:20px; line-height:2">
    <li><a> Trần Tú Quyên - 21DH111564</a></li>
    <li><a>Trần Thị Diễm Sương	- 21DH111615</a></li>
    <li><a>Yê Vĩnh Phát - 21DH113971</a></li>
    <li><a>Nguyễn Minh Tú - 21DH114568</a></li>
    <li><a>Trần Xuân Tường - 21DH112130</a></li>
</ul>
